.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main{
  border: 2px solid black;
}

.custom-carousel {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;
}

.video-thumbnail img {
  max-width: 100%;
  height: auto;
  display: block;
}

.video-thumbnail h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
}

.button:focus {
  outline: none;
}

.video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(203, 223, 237, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-player iframe {
  width: 80%;
  max-width: 800px;
  height: 60%;
}

.video-player h4 {
  font-weight: bold;
  color: black;
}

img{
  border-radius: 5px;
}

.video-player button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 20px;
}

.all-tags{
  display: flex;
  flex-direction: row;
}

.favourite-videos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.favourite-videos h5{
  margin-left: 20px;
  margin-top: 50px;
}

.all-tags span{
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 0.8rem;
}

.all-videos h5{
  margin-left: 20px;
  margin-top: 30px;
  
}

.all-btn{
  display: flex;
  flex-direction: row;
}

.all-btn button{
  margin: 10px;
}

.video-player button:focus {
  outline: none;
}



.radio-group label{
  margin: 10px;
  font-size: 25px;
}

.radio-group label input{
  font-size: 40px;
}

.favorite-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1; 
}

.favorite-button .fa-heart {
  font-size: 18px; 
  color: white; 
  cursor: pointer;
}

.favorite-button.active .fa-heart {
  color: red; 
}

